article{
  font-size: 16px;
  color: #E1624F;
}

body{
  background-size: cover;
}

h1{
  font-size: 36px;
  color: #1B1B1B;
}

#descri{
font-size: 16px;
font-style: italic;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 28px;
}

p{
  font-size: 16px;
}

#lista{
  font-size: 16px;
}
